<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Document - <%= document.title %></title>
    <style>
        div{
            width: 80%;
            margin: 0 auto;
            border-collapse: collapse;
        }
        p {
            margin-bottom: 20px; /*line margin*/
        }
    </style>
</head>
<body>
    <h1>Delete Document - <%= document.title %></h1>
    <p>Are you sure you want to delete this document?</p>
    <div>
    <p>Title: <%= document.title %></p>
    <p>Last Updated: <%= document.lastUpdated %></p>
    <p>Contents:</p>
    <pre><%= document.contents %></pre>
    </div>  
    <form action="/documents/<%= document.documentId %>/delete" method="post">
        <button type="submit">Yes, Delete</button>
    </form>
    <p></p>
    <a href="/documents/<%= document.documentId %>">Cancel</a>
</body>
</html>
